body{
    background-color: wheat;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 100px;
    height: 100px;
}
div{
    display: flex;
    justify-content:space-between;
    gap: 30%;
}
ul{
    display: flex;
    justify-content: center;/*Alignement horizontal*/
    gap: 20px;
    list-style: none;/*enleverles puces de la liste non-ordonnee*/
    align-items: center;/*Alignement verticale*/
}
li, a{
    font-size: 20px;
    font-weight: bold;/*mettre en gras*/
    text-decoration: underline;/*souligner*/
}
li:hover, a:hover{
    color: white;/* PERMET D'AJOUTER UN COLOR SUR UN BALISE*/
    cursor: pointer;/*CHANGER LA FORME DU COURSEUR*/
    color: black;
}

/*partie hero*/
.hero{
    margin-top: 100px;/*pour deplacer vers le bas*/
    display: flex;
    justify-content: center;
    gap: 50px;
}
.logoimage{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.heroimage{
    width: 200px;
    height: 300px;
    border-radius: 30px;
}
.herotexte{
    font-size: 15px;
    line-height: 30px;/*espacer les ligne du texte*/
}
.gallerie img{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}
.gallerie img{
    width: 300px;
    height: 100px;
    border-radius: 20px;

}
.formulaire{
    width: 300px;
    height: 100px;
    border-radius: 10%;
}